img {
    height: 50vh;
}

h1 {
    font-size: 5vh;
}

body {
    font-size: 138%;
}

#back-button {
    text-decoration: none;
    position: absolute;
    left: 3%;
    top: 3%;
    font-size: 4vh;
}